stages:
  - validate
  - build
  - deploy

validate_all:
  stage: validate
  script:
    - ansible --version
    - ansible-playbook --syntax-check ec2-playbook.yml
    - echo "Validation completed"
  tags:
    - homelab
    - local

build_ami:
  stage: build
  script:
    - echo "Build stage"
  tags:
    - homelab
    - local

deploy_infrastructure:
  stage: deploy
  script:
    - echo "Deploy stage"
  tags:
    - homelab
    - local
